<header class="bg-blue-900 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Brand Name -->
        <h1 class="text-2xl font-bold">Crickinfo</h1>
        
        <!-- Menu -->
        <nav class="space-x-4">
            <a [routerLink]="'/home'" href="#" class="text-lg font-medium hover:text-gray-300">Home</a>
            <a [routerLink]="'/live'" href="#" class="text-lg font-medium hover:text-gray-300">Live-Matches</a>
            <a [routerLink]="'/history'" href="#" class="text-lg font-medium hover:text-gray-300">History</a>
        </nav>
        <div>
        </div>
    </div>
</header>
<div class="px-28 py-8">
    <router-outlet></router-outlet>
</div>
